// _skill-icons.scss
@import "../constants";

/* Styling icons in Skills section */
#html-icon {
    color: $html-icon-color;
}

#css-icon {
    color: $css-icon-color;
}

#sass-icon {
    color: $sass-icon-color;
}

#wordpress-icon {
    color: $wordpress-icon-color;
}

#git-icon {
    color: $git-icon-color;
}

#microsoft-icon {
    color: $microsoft-icon-color;
}

#database-icon {
    color: $database-icon-color;
}

#java-icon {
    color: $java-icon-color;
}

#teaching-icon {
    color: $teaching-icon-color;
}

#teamwork-icon {
    color: $teamwork-icon-color;
}