// _constants.scss

//Colors
$body-background-color: #fafafa;    //Body background color
$div-background-color: #fff;    //Div background
$project-description-background-color: rgba(250, 250, 250, 0.85); 
$highlight-font-color: #a80000; //Highligthed text, important text
$font-color: #1a1a1a; //Default text color
$link-default-color: #1a1a1a;   //Default link color

//Fonts
$heading-font: 'Montserrat', sans-serif;   //Heading fonts, navigation fonts, bold fonts
$text-font: 'Open Sans', sans-serif;    //Subheading fonts, paragraph fonts, light fonts

//Other
$box-shadow-styling: 0 8px 8px rgba(37, 37, 37, 0.2); //Box shadow styling
$hr-footer: linear-gradient(90deg, #fefefe, #a1a1a1, #fefefe);