// _constants.scss

//Colors
$body-background-color: #f5f5f5; //Body background color
$div-background-color: #fff; //Div background
$element-color: #0065a3; //Element main color
$element-color-transparent: #0065a38f; //Element main color transparent
$font-color: #1a1a1a; //Default text color
$white-font-color: #fff; //Font color for element-color
$hero-heading-font-color: #353535; //Heading font color hero section
$subfont-color: #8b8b8b; //Subheadings and subtext font color
$link-default-color: #1a1a1a; //Default link color
$button-color: #0066eb; //Color for button

//Link icon colors fade
$mail-icon-color-fade: #dd4d40ce; //Fade email icon
$linkedin-icon-color-fade: #0077b7ce; //LinkedIn icon
$github-icon-color-fade: #1b1f23ce; //GitHub icon
$instagram-icon-color-fade: #e32e71ce; //Instagram icon
$facebook-icon-color-fade: #3b5998ce; //Facebook icon

//Link icon colors
$mail-icon-color: #dd4d40; //Email icon color on hover
$linkedin-icon-color: #0077b7; //LinkedIn icon
$github-icon-color: #1b1f23; //GitHub icon
$instagram-icon-color: #e32e71; //Instagram icon
$facebook-icon-color: #3b5998; //Facebook icon

//Skills icon colors
$html-icon-color: #de4b25; //HTML5 icon color
$css-icon-color: #1a70b5; //CSS3 icon color
$sass-icon-color: #c76495; //SASS icon color
$wordpress-icon-color: #31353a; //Wordpress icon color
$git-icon-color: #ec4d28; //Git icon color
$microsoft-icon-color: #00a8e8; //Microsoft icon color
$database-icon-color: #018478; //Database icon color
$java-icon-color: #e42c2D; //Java icon color
$teaching-icon-color: #644b9d; //Teaching icon color
$teamwork-icon-color: #ecab43; //Teamwork icon color

//Fonts
$heading-font: 'Montserrat', sans-serif; //Heading fonts, navigation fonts, bold fonts
$text-font: 'Open Sans', sans-serif; //Subheading fonts, paragraph fonts, light fonts

//Other
$box-shadow-styling: 0 8px 8px rgba(37, 37, 37, 0.2); //Box shadow styling