// _mixins.scss
@import "constants";

//Nowrap row flexbox
@mixin nw-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

//Wrap row flexbox
@mixin w-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

//Nowrap column flexbox
@mixin nw-flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin w-flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

//Unfade color on social icons
@mixin unfade($unfade) {
    -webkit-transition: $unfade;
    -moz-transition: $unfade;
    -o-transition: $unfade;
    transition: $unfade;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

//Fade color on hover on social icons
@mixin fade($fade) {
    -webkit-transition: $fade;
    -moz-transition: $fade;
    -o-transition: $fade;
    transition: $fade;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

//Cover background for timeline card headers
@mixin cover-background($img-path) {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: $linear-gradient, url($img-path);
}

//Breakpoint mixins
@mixin xl-devices {
    @media screen and (max-width: $breakpoint-xl) {
        @content;
    }
}

@mixin m-devices {
    @media screen and (max-width: $breakpoint-m) {
        @content;
    }
}

@mixin s-devices {
    @media screen and (max-width: $breakpoint-s) {
        @content;
    }
}

@mixin xs-devices {
    @media screen and (max-width: $breakpoint-xs) {
        @content;
    }
}

@mixin xxs-devices {
    @media screen and (max-width: $breakpoint-xxs) {
        @content;
    }
}

@mixin xxxs-devices {
    @media screen and (max-width: $breakpoint-xxxs) {
        @content;
    }
}

@mixin mobile-devices {
    @media screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin old-devices {
    @media screen and (max-width: $breakpoint-oldies) {
        @content;
    }
}