@import "constants";
@import "mixins";

body {
    background-color: $body-background-color;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 0 10px 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $link-default-color;
}

//Scrool to top
#scroll-to-top {
    display: none;
    position: fixed;
    border: none;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    i {
        font-size: 3.5em;
        color: $element-color-transparent;
        &:hover {
            color: $element-color;
        }
    }
}

//Container default styling
.container {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

//Wrapper class
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 25px;
}

//Landing page
.hero-section {
    @include nw-flex-column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fefefe;
    margin-bottom: 15px;
    width: 100%;
    height: 85vh;
}

//Heading div element on hero
.profile-heading {
    width: 100%;
    text-align: center;
}

#heading {
    font-family: $heading-font;
    font-size: 3em;
    font-weight: 600;
    color: $hero-heading-font-color;
    padding: 15px 0 0 0;
    margin: 0;
}

#subheading {
    font-family: $heading-font;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 0 15px 0;
    margin: 0;
    color: $subfont-color;
}

//Profile div element on hero
.profile {
    display: flex;
}

#profile-img {
    border: 2px solid $element-color;
    border-radius: 50%;
    margin: 25px;
}

//Profile biogrpahy div element on hero
.profile-bio {
    margin-top: 25px;
}

//Heading styling for short biography
#nutshell {
    font-family: $heading-font;
    font-size: 1.55em;
    font-weight: 600;
    color: $hero-heading-font-color;
}

//Short biography
#short-bio {
    font-family: $text-font;
    font-size: 1.35em;
    line-height: 1.5;
}

//Contant on hero
.contact {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-200px);
    @include fade(ease-in);
    p {
        font-family: $text-font;
        font-size: 1.5em;
        padding: 5px 35px;
    }
    &.show {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

.social-icons-contact {
    i {
        font-size: 2.6em;
        margin: 0 35px;
    }
}

#email-icon {
    color: $mail-icon-color-fade;
    @include unfade(ease-out);
    &:hover {
        color: $mail-icon-color;
        @include fade(ease-in);
    }
}

#linkedin-icon {
    color: $linkedin-icon-color-fade;
    @include unfade(ease-out);
    &:hover {
        color: $linkedin-icon-color;
        @include fade(ease-in);
    }
}

#github-icon {
    color: $github-icon-color-fade;
    @include unfade(ease-out);
    &:hover {
        color: $github-icon-color;
        @include fade(ease-in);
    }
}

#instagram-icon {
    color: $instagram-icon-color-fade;
    @include unfade(ease-out);
    &:hover {
        color: $instagram-icon-color;
        @include fade(ease-in);
    }
}

#facebook-icon {
    color: $facebook-icon-color-fade;
    @include unfade(ease-out);
    &:hover {
        color: $facebook-icon-color;
        @include fade(ease-in);
    }
}

//Timeline section
.timeline-section {
    position: relative;
    background-color: $body-background-color;
    margin-bottom: 35px;
    &::before {
        content: '';
        background-color: $element-color-transparent;
        width: 5px;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

//Timeline container
.timeline-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 0;
}

//Timeline item
.timeline-item {
    width: 100%;
    //Every second timeline item
    &:nth-child(even) {
        .timeline-content {
            float: right;
        }

        .timeline-image-header {
            height: 200px;
            position: relative;
            border-radius: 5px 5px 0 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            h2 {
                font-family: $heading-font;
                position: absolute;
                margin: 0;
                padding: 0 10px 0 10px;
                bottom: 5px;
                left: 0;
            }
        
            h4 {
                font-family: $text-font;
                position: absolute;
                bottom: 30px;
                left: 0;
            }
        }

        .timeline-content {
            margin-left: 35px;
            &::after {
                content: '';
                position: absolute;
                border-style: solid;
                width: 0;
                height: 0;
                top: 11px;
                left: -15px;
                margin-left: -5px;
                border-width: 10px 15px 10px 0;
                border-color: transparent $element-color transparent transparent;
            }
            h2 {
                margin-bottom: 0;
                padding: 10px 10px 0 10px;
            }

            h4 {
                margin-top: 0;
                margin-bottom: 0;
                padding: 0 10px 0 10px;
            }
        }
    }
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

//Timeline point
.timeline-point {
    width: 15px;
    height: 15px;
    border: 5px solid $body-background-color;
    background-color: $element-color;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 9px;
    margin-left: -12px;
}

//Timeline item heading image
.timeline-image-header {
    height: 200px;
	position: relative;
    border-radius: 5px 5px 0 0;
    h2 {
        font-family: $text-font;
        color: #fefefe;
        position: absolute;
        margin: 0;
        padding: 0 10px 0 10px !important;
		bottom: 5px;
		left: 0;
    }

    h4 {
        font-family: $text-font;
        color: #fefefe;
        position: absolute;
        margin: 0;
		bottom: 30px;
		left: 0;
    }
}

//Timeline cards background
#code-background {
    @include cover-background;
    background-image: $linear-gradient, url(/img/code.png);
}

#graduation-background {
    @include cover-background;
    background-image: $linear-gradient, url(/img/graduation.png);
}

#erasmus-background {
    @include cover-background;
    background-image: $linear-gradient, url(/img/erasmus.png);
}

#it-background {
    @include cover-background;
    background-image: $linear-gradient, url(/img/it.png);
}

#ombudsman-background {
    @include cover-background;
    background-image: $linear-gradient, url(/img/ombudsman.png);
}

#web-design-background {
    @include cover-background;
    background-image: $linear-gradient, url(/img/web-design.png);
}

#teaching-background {
    @include cover-background;
    background-image: $linear-gradient, url(/img/teaching.png);
}

//Timeline content
.timeline-content {
    position: relative;
    width: 40%;
    margin: 0 90px;
    border-radius: 5px;
    background-color: $div-background-color;
    box-shadow: $box-shadow-styling;
    &::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 11px;
        right: -15px;
        margin-right: -5px;
        border-width: 10px 0 10px 15px;
        border-color: transparent transparent transparent $element-color;
    }
    
    h2 {
        font-family: $heading-font;
        margin: 0;
        padding: 10px 0 0 10px;
    }

    h4 {
        font-family: $text-font;
        font-weight: 300;
        margin: 0;
        padding: 0 0 0 10px;
    }

    p {
        font-family: $text-font;
        font-size: 14px;
        text-align: justify;
        margin: 0;
        padding: 10px;
        line-height: 1.5;
    }
}

//Timeline item date
.timeline-date {
    display: inline-block;
    font-family: $heading-font;
    color: $white-font-color;
    font-size: 0.8em;
    background-color: $element-color;
    padding: 10px;
    border-radius: 0 5px 0 0;
    position: absolute;
    top: 0;
    right: 0;
}

//Timeline item button for visiting projects
.visit-page-btn {
    display: inline-block;
    border: 1px solid $button-color;
    font-family: $heading-font;
    color: $white-font-color;
    font-size: 1em;
    background-color: $button-color;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    &:hover {
        color: $button-color;
        background-color: $div-background-color;
    }
}

//Skills section default styling
.skills-section {
    width: 100%;
    text-align: center;
    padding-top: 25px;
    background-color: $div-background-color;
    h1 {
        font-family: $heading-font;
        font-size: 2.5em;
        text-transform: uppercase;
        margin: 0;
    }
}

//Section fifth default styling
.section-fifth {
    @include nw-flex-row;
    justify-content: space-around;
    align-items: flex-start;
    width: 15%;
    margin: 30px;
    i {
        font-size: 3.5em;
    }

    p {
        font-family: $text-font;
        font-size: 1.5em;
    }
}

//Skills icon coloring
#html-icon {
    color: $html-icon-color;
}

#css-icon {
    color: $css-icon-color;
}

#sass-icon {
    color: $sass-icon-color;
}

#wordpress-icon {
    color: $wordpress-icon-color;
}

#git-icon {
    color: $git-icon-color;
}

#microsoft-icon {
    color: $microsoft-icon-color;
}

#database-icon {
    color: $database-icon-color;
}

#java-icon {
    color: $java-icon-color;
}

#teaching-icon {
    color: $teaching-icon-color;
}

#teamwork-icon {
    color: $teamwork-icon-color;
}

//Footer default styling
.footer {
    @include nw-flex-column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $body-background-color;
    padding: 15px 0;
    i {
        padding: 0 10px;
        font-size: 1.25em;
        color: $subfont-color;
    }
}

//Footer social icon profile name
#footer-icon-profile {
    font-family: $text-font;
    font-size: 14px;
    color: $subfont-color;
}