@import "constants";
@import "mixins";

body {
    background-color: $body-background-color;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0 0 10px 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $link-default-color;
}

//Container default styling
.container {
    display: flex;
    max-width: 1280px;
    width: 100%;
    margin: 10px auto;
}

//Wrapper class
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 25px;
    background-color: $body-background-color;
}

//Header styling
.header {
    @include nw-flex-row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    background-color: $div-background-color;
    box-shadow: $box-shadow-styling;
}

#logo-img {
    border-radius: 50%;
    margin: 15px;
}

//Main navigation styling
.main-nav {
    margin-right: 15px;
    ul {
        list-style-type: none;
    }

    li {
        font-family: $heading-font;
        font-size: 1.2em;
        text-transform: uppercase;
        float: left;
        padding: 15px;
    }

    a {
        color: $font-color;
        display: inline-block;
        text-decoration: none;
        &:hover {
            color: $highlight-font-color;
        }
        &::after { //Hide border bottom navigation link
            content: '';
            display: block;
            width: 0;
            height: 2px;
            border-bottom: 1px solid $font-color;
            @include hide-underline(ease-out);
        }
        &:hover::after { //Show border bottom navigation link on hover
            color: $highlight-font-color;
            border-bottom: 1px solid $highlight-font-color;
            width: 100%;
            @include show-underline(ease-in);
        }
    }
}

//Landing page
.hero-section {
    @include nw-flex-row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}

#profile-img {
    border-radius: 50%;
    margin-right: 15px;
}

#short-bio {
    font-family: $text-font;
    font-size: 1.10em;
    color: $font-color;
    line-height: 1.5;
}

#social-icons {
    i {
        color: $font-color;
        font-size: 1.5em;
        margin: 10px 10px 15px 0;
        @include fade(ease-in);
        &:hover {
            color: $highlight-font-color;
            @include unfade(ease-out);
        }
    }
}

//Experience section, Education section, Projects section default styling
.experience-section, .education-section,
.projects-section, .skills-section {
    width: 100%;
    text-align: center;
    h1 {
        font-family: $heading-font;
        font-size: 2.5em;
        text-transform: uppercase;
    }
}

//Section half default styling
.section-half, .half-section-half {
    @include nw-flex-row;
    justify-content: space-between;
    position: relative;
    width: 45%;
    box-shadow: $box-shadow-styling;
    background-color: $div-background-color;
    border: 2px solid $div-background-color;
    height: 270px;
    margin-bottom: 15px;
    h2 {
        font-family: $heading-font;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    h4 {
        font-family: $text-font;
        font-size: 1em;
        font-weight: 300;
        text-align: center;
        margin: 0;
    }

    p {
        font-family: $text-font;
    }

    img {
        width: 100%;
        height: 100%;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        float: left;
        font-family: $text-font;
        margin-right: 10px;
    }
}

.half-section-half {
    width: 21%;
}

//Section third default styling
.section-third {
    @include nw-flex-column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    box-shadow: $box-shadow-styling;
    background-color: $div-background-color;
    text-align: left;
    margin: 15px 0;
    padding: 0 10px;
    h2 {
        font-family: $heading-font;
        text-align: center;
        font-size: 1.4em;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    h4 {
        font-family: $text-font;
        font-size: 1em;
        font-weight: 300;
        text-align: center;
        margin: 0 0 10px 0;
    }

    p {
        font-family: $text-font;
        font-size: 0.8em;
    }
}

//Footer default styling
.footer {
    @include nw-flex-row;
    justify-content: center;
    align-items: center;
    width: 100%;
    p {
        font-family: $text-font;
        font-size: 0.9em;
        padding: 20px 0;
    }
}

//Horizontal line above footer
#hr-footer {
    height: 1px;
    background-image: $hr-footer;
    border: none;
    margin-bottom: 0;
}

//Job status, job duration and job description default styling
#job-status {
    font-weight: 600;
    color: $highlight-font-color;
}

#job-description {
    margin-bottom: 10px;
}

#job-duration {
    font-weight: 600;
    font-size: 0.8em;
    color: $highlight-font-color;
    margin-bottom: 5px;
}

//Show project description on hover
.project {
    @include nw-flex-column;
    justify-content: space-between;
    align-items: center;
    &:hover {
        .project-description {
            visibility: visible;
            opacity: 0.9;
            @include fade-project(ease-in);
        }
    }
}

.project-description {
    visibility: hidden;
    @include nw-flex-column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: $div-background-color;
    opacity: 0;
    width: 100%;
    height: 100%;
    @include unfade-project(ease-out);
}