body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0; }

h1 {
  margin: 0 0 10px 0; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: #1a1a1a; }

.container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 25px; }

#logo-img {
  border-radius: 50%;
  margin: 15px; }

.main-nav {
  margin-right: 15px; }
  .main-nav ul {
    list-style-type: none; }
  .main-nav li {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    float: left;
    padding: 15px; }
  .main-nav a {
    color: #1a1a1a;
    display: inline-block;
    text-decoration: none; }
    .main-nav a:hover {
      color: #a80000; }
    .main-nav a::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      border-bottom: 1px solid #1a1a1a;
      -webkit-transition: ease-out;
      -moz-transition: ease-out;
      -o-transition: ease-out;
      transition: ease-out;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .main-nav a:hover::after {
      color: #a80000;
      border-bottom: 1px solid #a80000;
      width: 100%;
      -webkit-transition: ease-in;
      -moz-transition: ease-in;
      -o-transition: ease-in;
      transition: ease-in;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }

.hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fefefe;
  margin-bottom: 15px;
  width: 100%;
  height: 80vh; }

.profile-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  text-align: center;
  box-shadow: 0 8px 8px rgba(37, 37, 37, 0.2); }

#heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #353535;
  padding: 15px 0 0 0;
  margin: 0; }

#subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  padding: 0 0 15px 0;
  margin: 0;
  color: #8b8b8b; }

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start; }

#profile-img {
  border: 2px solid #0065a3;
  border-radius: 50%;
  margin: 25px; }

.profile-bio {
  margin-top: 25px; }

#nutshell {
  font-family: "Montserrat", sans-serif;
  font-size: 1.55em;
  font-weight: 600;
  color: #353535; }

#short-bio {
  font-family: "Open Sans", sans-serif;
  font-size: 1.35em;
  line-height: 1.5; }

.contact {
  margin-bottom: 25px;
  padding: 10px; }

#social-icons i {
  font-size: 2.6em;
  margin: 0 35px; }

#email-icon {
  color: #dd4e40; }

#linkedin-icon {
  color: #0077b7; }

#github-icon {
  color: #1b1f23; }

#instagram-icon {
  color: #e32e71; }

#facebook-icon {
  color: #3b5998; }

.timeline-section {
  position: relative;
  background-color: #f5f5f5;
  margin-bottom: 35px; }
  .timeline-section::before {
    content: '';
    background-color: #0065a38f;
    width: 5px;
    height: 101%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }

.timeline-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 0; }

.timeline-item {
  width: 100%; }
  .timeline-item:nth-child(even) .timeline-content {
    float: right; }
  .timeline-item:nth-child(even) .timeline-image-header {
    height: 200px;
    position: relative;
    border-radius: 5px 5px 0 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .timeline-item:nth-child(even) .timeline-image-header h2 {
      font-family: "Montserrat", sans-serif;
      position: absolute;
      margin: 0;
      padding: 0 10px 0 10px;
      bottom: 35px;
      left: 0; }
    .timeline-item:nth-child(even) .timeline-image-header h4 {
      font-family: "Open Sans", sans-serif;
      position: absolute;
      bottom: 5px;
      left: 0; }
  .timeline-item:nth-child(even) .timeline-content {
    margin-left: 35px; }
    .timeline-item:nth-child(even) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 11px;
      left: -15px;
      margin-left: -5px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #0065a3 transparent transparent; }
    .timeline-item:nth-child(even) .timeline-content h2 {
      margin-bottom: 0;
      padding: 10px 10px 0 10px; }
    .timeline-item:nth-child(even) .timeline-content h4 {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 10px 0 10px; }
  .timeline-item::after {
    content: '';
    display: block;
    clear: both; }

.timeline-point {
  width: 15px;
  height: 15px;
  border: 5px solid #f5f5f5;
  background-color: #0065a3;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 9px;
  margin-left: -12px; }

.timeline-image-header {
  height: 200px;
  position: relative;
  border-radius: 5px 5px 0 0; }
  .timeline-image-header h2 {
    font-family: "Open Sans", sans-serif;
    color: #fefefe;
    position: absolute;
    margin: 0;
    padding: 0 10px 0 10px !important;
    bottom: 35px;
    left: 0; }
  .timeline-image-header h4 {
    font-family: "Open Sans", sans-serif;
    color: #fefefe;
    position: absolute;
    margin: 0;
    padding: 0 10px 10px 10px !important;
    bottom: 5px;
    left: 0; }

#cv-web-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../img/cv-web.png); }

#gambi-project-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(../../img/gambi-project.png); }

.timeline-image-header-right {
  padding: 0 !important; }

.timeline-content {
  position: relative;
  width: 40%;
  margin: 0 60px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 8px 8px rgba(37, 37, 37, 0.2); }
  .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 11px;
    right: -15px;
    margin-right: -5px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #0065a3; }
  .timeline-content h2 {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 10px 0 0 10px; }
  .timeline-content h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0 0 0 10px; }
  .timeline-content p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: justify;
    margin: 0;
    padding: 10px;
    line-height: 1.5; }

.timeline-date {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.8em;
  background-color: #0065a3;
  padding: 10px;
  border-radius: 0 5px 0 0;
  position: absolute;
  top: 0;
  right: 0; }

.visit-page-btn {
  display: inline-block;
  border: 1px solid #0066eb;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1em;
  background-color: #0066eb;
  border-radius: 5px;
  padding: 10px;
  margin: 10px; }
  .visit-page-btn:hover {
    color: #0066eb;
    background-color: #fff; }

.experience-section, .education-section,
.projects-section, .skills-section {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  background-color: #fff; }
  .experience-section h1, .education-section h1,
  .projects-section h1, .skills-section h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 0; }

/*
//Section half default styling
.section-half, .half-section-half {
    @include nw-flex-row;
    justify-content: space-between;
    position: relative;
    width: 45%;
    box-shadow: $box-shadow-styling;
    background-color: $div-background-color;
    border: 3px solid $div-background-color;
    height: 270px;
    margin-bottom: 15px;
    h2 {
        font-family: $heading-font;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    h4 {
        font-family: $text-font;
        font-size: 1em;
        font-weight: 300;
        text-align: center;
        margin: 0;
    }

    p {
        font-family: $text-font;
    }

    img {
        width: 100%;
        height: 100%;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        float: left;
        font-family: $text-font;
        margin-right: 10px;
    }
}

.half-section-half {
    width: 21%;
}

//Section third default styling
.section-third {
    @include nw-flex-column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    box-shadow: $box-shadow-styling;
    background-color: $div-background-color;
    text-align: left;
    margin: 15px 0;
    padding: 0 10px;
    h2 {
        font-family: $heading-font;
        text-align: center;
        font-size: 1.4em;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    h4 {
        font-family: $text-font;
        font-size: 1em;
        font-weight: 300;
        text-align: center;
        margin: 0 0 10px 0;
    }

    p {
        font-family: $text-font;
        font-size: 0.8em;
    }
}*/
.section-fifth {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 15%;
  margin: 30px; }
  .section-fifth i {
    font-size: 3.5em; }
  .section-fifth p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em; }

#html-icon {
  color: #de4b25; }

#css-icon {
  color: #1a70b5; }

#sass-icon {
  color: #c76495; }

#wordpress-icon {
  color: #31353a; }

#git-icon {
  color: #ec4d28; }

#microsoft-icon {
  color: #00a8e8; }

#database-icon {
  color: #018478; }

#java-icon {
  color: #e42c2D; }

#teaching-icon {
  color: #644b9d; }

#teamwork-icon {
  color: #ecab43; }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5; }
  .footer p {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    padding: 20px 0; }

#hr-footer {
  height: 1px;
  background-image: linear-gradient(90deg, #f9f9f9, #8b8b8b, #f9f9f9);
  border: none;
  margin: 0; }
