#email-icon {
  color: #dd4d40ce;
  -webkit-transition: ease-out;
  -moz-transition: ease-out;
  -o-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #email-icon:hover {
    color: #dd4d40;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

#linkedin-icon {
  color: #0077b7ce;
  -webkit-transition: ease-out;
  -moz-transition: ease-out;
  -o-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #linkedin-icon:hover {
    color: #0077b7;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

#github-icon {
  color: #1b1f23ce;
  -webkit-transition: ease-out;
  -moz-transition: ease-out;
  -o-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #github-icon:hover {
    color: #1b1f23;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

#instagram-icon {
  color: #e32e71ce;
  -webkit-transition: ease-out;
  -moz-transition: ease-out;
  -o-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #instagram-icon:hover {
    color: #e32e71;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

#facebook-icon {
  color: #3b5998ce;
  -webkit-transition: ease-out;
  -moz-transition: ease-out;
  -o-transition: ease-out;
  transition: ease-out;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  #facebook-icon:hover {
    color: #3b5998;
    -webkit-transition: ease-in;
    -moz-transition: ease-in;
    -o-transition: ease-in;
    transition: ease-in;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }

/* Styling icons in Skills section */
#html-icon {
  color: #de4b25; }

#css-icon {
  color: #1a70b5; }

#sass-icon {
  color: #c76495; }

#wordpress-icon {
  color: #31353a; }

#git-icon {
  color: #ec4d28; }

#microsoft-icon {
  color: #00a8e8; }

#database-icon {
  color: #018478; }

#java-icon {
  color: #e42c2D; }

#teaching-icon {
  color: #644b9d; }

#teamwork-icon {
  color: #ecab43; }

/* Styling timline header image backgrounds */
#code-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/code.png"); }

#graduation-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/graduation.png"); }

#erasmus-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/erasmus.png"); }

#it-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/it.png"); }

#web-design-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/web-design.png"); }

#teaching-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/teaching.png"); }

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; }

h1, h2, h4 {
  margin: 0; }

p {
  margin: 0; }

#progress-bar {
  position: fixed;
  width: 0;
  height: 5px;
  border: none;
  background-color: #0065a3;
  z-index: 9999; }

#scroll-to-top {
  display: none;
  position: fixed;
  border: none;
  cursor: pointer;
  bottom: 50px;
  right: 20px;
  z-index: 9999; }
  @media screen and (max-width: 840px) {
    #scroll-to-top {
      right: 15px; } }
  @media screen and (max-width: 660px) {
    #scroll-to-top {
      bottom: 120px; } }
  @media screen and (max-width: 320px) {
    #scroll-to-top {
      right: 5px; } }
  #scroll-to-top i {
    font-size: 3.5em;
    color: #0065a38f;
    -webkit-transition: ease-out;
    -moz-transition: ease-out;
    -o-transition: ease-out;
    transition: ease-out;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    #scroll-to-top i:hover {
      color: #0065a3;
      -webkit-transition: ease-in;
      -moz-transition: ease-in;
      -o-transition: ease-in;
      transition: ease-in;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    @media screen and (max-width: 840px) {
      #scroll-to-top i {
        font-size: 3em; } }

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%; }

.profile-heading {
  position: relative;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(37, 37, 37, 0.2); }

#heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 600;
  color: #353535;
  padding-top: 15px; }
  @media screen and (max-width: 1200px) {
    #heading {
      font-size: 2.2em; } }
  @media screen and (max-width: 992px) {
    #heading {
      font-size: 2em; } }
  @media screen and (max-width: 380px) {
    #heading {
      font-size: 1.8em; } }

#subheading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 15px;
  color: #9b9b9b; }
  @media screen and (max-width: 1200px) {
    #subheading {
      font-size: 1.2em; } }
  @media screen and (max-width: 992px) {
    #subheading {
      font-size: 1.1em; } }
  @media screen and (max-width: 380px) {
    #subheading {
      font-size: 1em; } }

.hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fefefe;
  margin-bottom: 15px;
  width: 100%;
  height: 85vh; }
  @media screen and (max-width: 1200px) {
    .hero-section {
      height: 80vh; } }
  @media screen and (max-width: 320px) {
    .hero-section {
      height: 100vh; } }

.profile {
  display: flex; }
  @media screen and (max-width: 660px) {
    .profile {
      flex-direction: column;
      align-items: center; } }

@media screen and (max-width: 1200px) {
  .profile-img {
    width: 35%; } }

@media screen and (max-width: 660px) {
  .profile-img {
    width: 70%;
    text-align: center; } }

@media screen and (max-width: 380px) {
  .profile-img {
    width: 60%; } }

#avatar {
  border: 2px solid #0065a3;
  border-radius: 50%;
  margin: 25px; }
  @media screen and (max-width: 1200px) {
    #avatar {
      width: 75%;
      margin-right: 0; } }
  @media screen and (max-width: 660px) {
    #avatar {
      width: 80%;
      margin: 0; } }

.profile-bio {
  margin-top: 25px; }

#nutshell {
  font-family: "Montserrat", sans-serif;
  font-size: 1.55em;
  font-weight: 600;
  color: #9b9b9b; }
  @media screen and (max-width: 1200px) {
    #nutshell {
      font-size: 1.4em; } }

#short-bio {
  font-family: "Open Sans", sans-serif;
  font-size: 1.35em;
  line-height: 1.5; }
  @media screen and (max-width: 1200px) {
    #short-bio {
      font-size: 1.1em; } }
  @media screen and (max-width: 380px) {
    #short-bio {
      font-size: 0.95em; } }
  @media screen and (max-width: 320px) {
    #short-bio {
      font-size: 0.85em; } }

.contact {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-200px);
  -webkit-transition: ease-in;
  -moz-transition: ease-in;
  -o-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .contact p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25em;
    font-weight: 800;
    color: #9b9b9b;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 16px; }
    @media screen and (max-width: 992px) {
      .contact p {
        font-size: 1.15em; } }
    @media screen and (max-width: 380px) {
      .contact p {
        font-size: 1em; } }
    @media screen and (max-width: 320px) {
      .contact p {
        font-size: 0.9em; } }
  .contact.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); }

.social-icons-contact i {
  font-size: 2.6em;
  margin: 0 35px; }
  @media screen and (max-width: 1200px) {
    .social-icons-contact i {
      font-size: 2.15em;
      margin: 0 25px; } }
  @media screen and (max-width: 992px) {
    .social-icons-contact i {
      font-size: 2em;
      margin: 0 20px; } }
  @media screen and (max-width: 380px) {
    .social-icons-contact i {
      font-size: 1.8em;
      margin: 0 15px; } }
  @media screen and (max-width: 320px) {
    .social-icons-contact i {
      font-size: 1.6em; } }

.timeline-section {
  position: relative;
  background-color: #f5f5f5;
  margin-bottom: 15px; }
  .timeline-section::before {
    content: '';
    background-color: #0065a38f;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
    @media screen and (max-width: 660px) {
      .timeline-section::before {
        left: 5%; } }

.timeline-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0; }

.timeline-item {
  width: 100%; }
  .timeline-item:nth-child(even) .timeline-content {
    float: right; }
    .timeline-item:nth-child(even) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 11px;
      left: -15px;
      margin-left: -5px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #0065a3 transparent transparent; }
  .timeline-item::after {
    content: '';
    display: block;
    clear: both; }
  @media screen and (max-width: 660px) {
    .timeline-item {
      padding: 15px 0; } }

.timeline-point {
  width: 15px;
  height: 15px;
  border: 5px solid #f5f5f5;
  background-color: #0065a3;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 9px;
  margin-left: -12px; }
  @media screen and (max-width: 660px) {
    .timeline-point {
      left: 5%; } }

.timeline-image-header {
  height: 200px;
  position: relative;
  border-radius: 5px 5px 0 0; }
  @media screen and (max-width: 840px) {
    .timeline-image-header {
      height: 175px; } }
  @media screen and (max-width: 500px) {
    .timeline-image-header {
      height: 150px; } }
  @media screen and (max-width: 380px) {
    .timeline-image-header {
      height: 125px; } }
  @media screen and (max-width: 320px) {
    .timeline-image-header {
      height: 100px; } }
  .timeline-image-header h2 {
    font-family: "Montserrat", sans-serif;
    color: #fefefe;
    position: absolute;
    padding: 0 10px 0 10px !important;
    bottom: 5px;
    left: 0; }
    @media screen and (max-width: 660px) {
      .timeline-image-header h2 {
        font-size: 21px; } }
    @media screen and (max-width: 500px) {
      .timeline-image-header h2 {
        font-size: 17px; } }
    @media screen and (max-width: 320px) {
      .timeline-image-header h2 {
        font-size: 15px; } }
  .timeline-image-header h4 {
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #fefefe;
    bottom: 30px;
    left: 0;
    padding: 0 0 0 10px; }
    @media screen and (max-width: 660px) {
      .timeline-image-header h4 {
        font-size: 16px; } }
    @media screen and (max-width: 500px) {
      .timeline-image-header h4 {
        font-size: 12px;
        bottom: 25px; } }

.timeline-content {
  position: relative;
  width: 40%;
  margin: 0 90px;
  border-radius: 5px;
  background-color: #fefefe;
  box-shadow: 0 8px 8px rgba(37, 37, 37, 0.2); }
  .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 11px;
    right: -15px;
    margin-right: -5px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #0065a3; }
    @media screen and (max-width: 660px) {
      .timeline-content::after {
        left: -15px;
        margin-left: -5px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #0065a3 transparent transparent; } }
  @media screen and (max-width: 1200px) {
    .timeline-content {
      margin: 0 80px; } }
  @media screen and (max-width: 992px) {
    .timeline-content {
      margin: 0 60px; } }
  @media screen and (max-width: 840px) {
    .timeline-content {
      width: 35%;
      margin: 0 75px; } }
  @media screen and (max-width: 660px) {
    .timeline-content {
      width: 75%;
      float: right; } }
  @media screen and (max-width: 500px) {
    .timeline-content {
      width: 75%;
      margin: 0 65px; } }
  @media screen and (max-width: 450px) {
    .timeline-content {
      margin: 0 50px; } }
  @media screen and (max-width: 380px) {
    .timeline-content {
      width: 70%; } }
  @media screen and (max-width: 320px) {
    .timeline-content {
      margin: 0 45px; } }
  .timeline-content p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 10px;
    line-height: 1.5; }
    @media screen and (max-width: 380px) {
      .timeline-content p {
        font-size: 13px; } }
    @media screen and (max-width: 320px) {
      .timeline-content p {
        font-size: 12px; } }

.timeline-date {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fefefe;
  border: 1px solid #fefefe;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 2px 8px;
  position: absolute;
  top: 4px;
  right: 4px; }
  @media screen and (max-width: 320px) {
    .timeline-date {
      font-size: 0.7em; } }

.visit-page-btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: #fefefe;
  font-size: 1em;
  text-decoration: none;
  background-color: #0066eb;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(37, 37, 37, 0.2);
  padding: 6px 10px;
  margin: 10px; }
  .visit-page-btn:hover {
    color: #0066eb;
    background-color: #fefefe; }
  @media screen and (max-width: 320px) {
    .visit-page-btn {
      font-size: 0.75em; } }

.skills-section {
  width: 100%;
  text-align: center;
  padding-top: 25px;
  background-color: #fefefe; }
  .skills-section h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;
    text-transform: uppercase; }
    @media screen and (max-width: 992px) {
      .skills-section h1 {
        font-size: 2.25em; } }
    @media screen and (max-width: 660px) {
      .skills-section h1 {
        font-size: 2em; } }

.section-fifth {
  width: 15%;
  margin: 30px; }
  @media screen and (max-width: 992px) {
    .section-fifth {
      margin: 20px; } }
  @media screen and (max-width: 840px) {
    .section-fifth {
      margin: 15px; } }
  @media screen and (max-width: 660px) {
    .section-fifth {
      margin: 20px; } }
  .section-fifth i {
    font-size: 3.5em; }
    @media screen and (max-width: 992px) {
      .section-fifth i {
        font-size: 3em; } }
    @media screen and (max-width: 840px) {
      .section-fifth i {
        font-size: 2.8em; } }
    @media screen and (max-width: 320px) {
      .section-fifth i {
        font-size: 2.25em; } }

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
  padding: 15px 0; }
  @media screen and (max-width: 660px) {
    .footer {
      padding: 0; } }
  .footer i {
    padding: 0 5px 0 10px;
    font-size: 1.25em;
    font-weight: 300;
    color: #9b9b9b; }
  .footer span {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #9b9b9b; }
  .footer .footer-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; }
    @media screen and (max-width: 660px) {
      .footer .footer-icons {
        flex-direction: column; } }

@media screen and (max-width: 660px) {
  .footer-mobile-icon {
    padding: 5px 0; } }
